* {
  box-sizing: border-box;
}
:root {
  --primary: black;
  --warning: #eaaa00;
  --danger: red;
}

/* TABLES  */
.table-icon {
  max-width: 20px; /* Width of icon box in table  */
  text-align: center; /*  Center icon in table data  */
}
.table-icon:hover .fa-pen-to-square {
  color: var(--warning); /* Warning hover color for edit icon  */
}
.table-icon .fa-trash:hover {
  color: var(--danger); /* Warning hover color for trash icon  */
}
