* {
  box-sizing: border-box;
}
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans Gothic", sans-serif;
  font-family: "Play", sans-serif;
  font-family: "Revalia", sans-serif;
}
